/*
    Table of Contents

    Reset
    1. Fonts and colors
    2. Page components
    3. Page elements
    4. Media queries

*/

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 1. Fonts and colors */

:root {
    /* Backgrounds */
    --main-bg: hsl(222, 26%, 31%);
    --toggle-bg: hsl(223, 31%, 20%);
    --screen-bg: hsl(224, 36%, 15%);
    /* Keys */
    --key-bg-blue: hsl(225, 21%, 49%);
    --key-shadow-blue: hsl(224, 28%, 35%);
    --key-bg-red: hsl(6, 63%, 50%);
    --key-shadow-red: hsl(6, 70%, 34%);
    --key-bg-grey: hsl(30, 25%, 89%);
    --key-shadow-grey: hsl(28, 16%, 65%);
    /* Text */
    --text-blue: hsl(221, 14%, 31%);
    --text-white: hsl(0, 0%, 100%);
    /* Fonts */
    font-size: 32px;
    font-family: 'Spartan', sans-serif;
}

/* 2. Page components */

.button,
.button-text,
#equals {
    border-radius: 5px;
    height: 50px;
    text-align: center;
}

.button {
    color: var(--text-blue);
    background-color: var(--key-bg-grey);
    box-shadow: 0px 5px 0px var(--key-shadow-grey);
}

.button-text {
    font-size: 0.75rem;
    color: var(--text-white);
    background-color: var(--key-bg-blue);
    box-shadow: 0px 5px 0px var(--key-shadow-blue);
}

#equals {
    font-size: 0.75rem;
    color: var(--text-white);
    background-color: var(--key-bg-red);
    box-shadow: 0px 5px 0px var(--key-shadow-red);
}

.button:active,
.button-text:active,
#equals:active {
    box-shadow: none;
    position: relative;
    top: 5px;
}

.result {
    text-align: right;
    background-color: var(--screen-bg);
    border-radius: 5px;
    padding: 1rem 0.8rem;
    color: var(--text-white);
}

/* 3. Page elements */

body {
    background-color: var(--main-bg);
}

header {
    color: var(--text-white);
    font-size: 0.6rem;
}

.calculator {
    width: 50vw;
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1.5rem;
    grid-template-columns: auto;
    row-gap: 0.8rem;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 21.25%);
    column-gap: 5%;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.row-last {
    display: grid;
    grid-template-columns: repeat(2, 47.5%);
    column-gap: 5%;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.row-last *,
.row * {
    width: 100%;
}

.pad {
    background-color: var(--screen-bg);
    border-radius: 5px;
    padding: 1rem 0;
}

/* 4. Media queries */